<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width,
				initial-scale=1.0" />
	<title>
		HueHacks 2021
	</title>

	<style>
		* {
			margin: 0;
			padding: 0;
		}

		.changeColor {
			width: 100vw;
			height: 100vh;
			background-color: chocolate;
			background-size: cover;
		}
	</style>
</head>

<body>
	<div class="changeColor"></div>

	<script>
		var div =
			document.querySelector(".changeColor");

		div.addEventListener(
			"mousemove", function (e) {
				x = e.offsetX;
				y = e.offsetY;
				div.style.backgroundColor
					= `rgb(${x}, ${y}, ${x - y})`;
			});
	</script>
</body>

</html>